{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="left_content">
                <div class="contact_area">
                    <h2>Veb-saytga kirish login</h2>
                    <p>Iltimos saytga kirish uchun quyidagi formani to'ldiring</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info" >Login</button>
                    </form>
                </div>
              </div>
            </div>
          </div>

   {% endblock content %}